In [ ]:
# Instalando arquivos necessários
!pip install -r requirements.txt

In [2]:
#  Abrindo conexão com o Banco de Dados
from ConexaoBancoDados import ConexaoBancoDados as CDB
cdb = CDB()

In [3]:
# Lendo informações do SQL
query = r"""select top 10 *
            from 
            RiscoDB.CREDITO.CreditoContrato 
        """
dadosSql = cdb.realizaConsulta(query,trino=0)
dadosSql.head()

,DataReferencia,Id,IdCliente,LimiteCredito,LimiteCreditoDisponivel,DataCadastro,DataLimiteAceite,DiaVencimento,DebitoAutomatico,DataVencimentoAceite,...,IdContaConductorCredito,StatusConta,LimiteCreditoTotal,LimiteCreditoMotor,DiasAtraso,DataUltimaAtualizacao,Forcado,DataUltimaVerificacaoStatus,IdCreditContractResponse,DiasAtrasoConductor
0,2021-01-01,760,56,15000.0,15000.00,2020-11-23 11:45:46.203,2020-12-23 11:45:45.750,5,False,2020-11-23 11:46:37.060,...,390355,Ativo,15000.0,15000.0,0,2020-12-25 08:16:54.263,False,2021-01-01 05:20:02.427,12420824.0,NaN
1,2021-01-01,25,57,25000.0,8424.10,2018-10-02 11:46:27.043,2018-10-03 11:46:27.043,15,True,2018-10-02 11:48:12.803,...,265502,Ativo,25000.0,500.0,0,2020-12-28 15:07:50.397,False,2021-01-01 04:15:15.443,NaN,NaN
2,2021-01-01,51665,58,300.0,300.00,2020-10-26 22:07:47.283,2020-11-25 00:00:00.000,25,False,2020-11-06 13:37:54.783,...,390356,Ativo,3200.0,3200.0,0,2020-12-19 12:43:51.787,False,2021-01-01 05:21:50.880,11896751.0,NaN
3,2021-01-01,30,59,21000.0,10244.79,2018-10-10 19:11:07.960,2018-10-11 19:11:07.960,1,True,2018-10-10 19:11:53.897,...,265496,Ativo,21000.0,500.0,0,2020-12-31 15:54:54.597,False,2021-01-01 04:15:15.380,NaN,NaN
4,2021-01-01,1582,61,5800.0,5800.00,2018-12-12 23:01:41.787,2018-12-13 23:01:41.787,1,True,2018-12-12 23:02:08.100,...,265523,Ativo,5800.0,5817.9,0,2020-12-22 07:36:03.340,False,2021-01-01 04:17:46.817,NaN,NaN

In [4]:
# Lendo informações do Trino
query = r"""select * 
            from 
                neondw_bi.staging_bi_creditocontratocliente 
            limit 10
        """
dadosTrino = cdb.realizaConsulta(query,trino=1)
dadosTrino.head()

,id,idcliente,limitecredito,limitecreditodisponivel,datacadastro,datalimiteaceite,diavencimento,debitoautomatico,datavencimentoaceite,aceitou,...,statusconta,limitecreditototal,limitecreditomotor,diasatraso,dataultimaatualizacao,forcado,dataultimaverificacaostatus,idcreditcontractresponse,diasatrasoconductor,datareferencia
0,76207,617911,0.00,0.00,2019-02-22 12:26:06.190,2019-03-24 12:26:06.190,NaN,None,None,False,...,SemPedido,0.00,0.00,NaN,None,False,None,NaN,None,2021-07-05
1,76209,276032,0.00,0.00,2020-11-14 13:20:44.067,2020-12-14 13:20:44.060,NaN,None,None,False,...,Reprovado,0.00,0.00,NaN,None,False,None,12260496.0,None,2021-07-05
2,76210,608959,0.00,0.00,2019-05-20 14:08:20.347,2019-06-19 14:08:20.347,NaN,None,None,False,...,Reprovado,0.00,0.00,NaN,None,False,None,NaN,None,2021-07-05
3,76211,629080,0.00,0.00,2020-10-09 13:25:23.710,2020-11-08 13:25:23.697,NaN,None,None,False,...,Reprovado,0.00,0.00,NaN,None,False,None,11486708.0,None,2021-07-05
4,76212,458806,800.00,439.47,2019-07-22 08:18:30.163,2019-08-21 08:18:30.163,15.0,False,2020-08-24 17:49:52.307,True,...,Ativo,800.00,747.82,0.0,2021-06-18 10:02:28.473,False,2021-07-05 04:17:39.420,NaN,None,2021-07-05